.important {
  color: orange;
}
header {
  display: block;
  background-color: #001c42;
  text-align: center;
}
.header-link {
  text-decoration: none;
  color: white;
  display: block;
  padding: 24px 8px;
  font-size: 26px;
}
text-center {
  text-align: center;
}
h1 {
  font-size: 28px;
  color: purple;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
.border {
  border: 1px solid #001c42;
  padding: 6px;
}
.contact {
  border: 1px solid #001c42;
  padding: 6px;
}
.portfolio-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 500px;
  width: 800px;
}
.about {
  border: 1px solid #001c42;
  padding: 6px;
}
.background {
  background-color: #bee0ec;
  margin: 0%;
}
h1 {
  text-align: center;
}
#img2 {
  float: right;
  width: 200px;
  height: 145px;
}
