*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
}
h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 24px;
    margin: 0;
}

li {
    font-size: 20px;
}

i {
    color: white;
    font-size: 32px;
}

div {
    line-height: 32px;
}